<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>637997721998-6v6eo8g9390t8eb9q21o6h8uvgmopdhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637997721998-6v6eo8g9390t8eb9q21o6h8uvgmopdhu</string>
	<key>API_KEY</key>
	<string>AIzaSyABNny-UYglq63OSGLRZuVO8gKCgMksrM8</string>
	<key>GCM_SENDER_ID</key>
	<string>637997721998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bedrock.bedrockshelves</string>
	<key>PROJECT_ID</key>
	<string>bedrock-books</string>
	<key>STORAGE_BUCKET</key>
	<string>bedrock-books.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637997721998:ios:18163e0e36377381</string>
	<key>DATABASE_URL</key>
	<string>https://bedrock-books.firebaseio.com</string>
</dict>
</plist>